
// figure out how to integrate this file into the rest of the code
// then it will allow for customisation of the bootstrap stuff

$form-check-input-checked-color:          #3650fe;
$form-check-input-checked-bg-color:       #3650fe;
$form-check-input-checked-border-color:   #3650fe;

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";